<html lang="en">
<head>
    <title>Search</title>
</head>
<body>
    <form action="" method="POST">
        <fieldset>
            <input type="text" name="seachQuery" id="" placeholder="enter title or auther name">
            <label for="author">author</label>
            <input type="radio" name="seachBy" id="author" value="author">
            <label for="title">title</label>
            <input type="radio" name="searchBy" id="title" value="title">
            <button>search</button>

        </fieldset>
    </form>
    
</body>
</html>