<html lang="en">

<head>
    <title>Search</title>
</head>

<body>
    <form action="/searches" method="POST">
        <fieldset>
            <input type="text" name="seachQuery" id="search" placeholder="Enter Title or Author name">
            <label for="inauthor">author</label>
            <input type="radio" name="searchBy" id="inauthor" value="author">
            <label for="intitle">title</label>
            <input type="radio" name="searchBy" id="intitle" value="title">
            <input type="submit" value='search'>

        </fieldset>
    </form>

</body>

</html>